h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #224382;
}

/* 캐러셀 슬라이드 */
.carousel {
  max-width: 1230px;
  margin: 0 auto;
}

.carousel-inner {
  width: 100%;
  max-height: 500px; /* 캐러셀의 최대 높이 */
}

.carousel-item {
  max-height: 500px; /* 캐러셀 아이템의 최대 높이 */
}

.carousel-inner img {
  width: 100%; /* 이미지를 캐러셀의 폭에 맞게 조정 */
  height: auto; /* 이미지 높이는 자동으로 조정 */
  max-height: 500px; /* 이미지의 최대 높이 */
}

/* Swiper */
.swiper {
  width: 100%;
  height: 350px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 800px;
  height: 440px;
  display: block;
}

.slide-text {
  position: absolute;
  bottom: 5px;
  left: auto;
  color: white;
  font-size: 60px;
}

/* 축제 안내 카드 */
#theme {
  display: flex;
  justify-content: space-evenly;
}

#local {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 15rem;
  margin: 5px auto;
}

#local .card img {
  height: 190px;
}

.card-body a {
  display: flex;
  justify-content: center;
  background-color: #f2d2cf;
  border: none;
  color: #2e3b10;
}
