/* 하단바 */
footer {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    position: relative;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-bar {
    max-width: 1200px;
    margin: 20px auto;
    /* padding: 1rem; */
    text-align: center;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.nav-bar ul li {
    margin-left: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #828282;
    font-size: 20px;
}

.nav-bar img {
    width: 30px;
    height: 30px;
    color: #828282;
}
